[Desktop Entry]
Name=citksnap
Comment=Customize itk-snap handeler
Exec=citksnap.sh %u
Icon=citksnap
Type=Application
Categories=ImageSegmentation;
Terminal=true
MimeType=x-scheme-handler/citksnap;
Actions=ImageSegmentation;
Keywords=ImageSegmentation
